.row {
    height: 70px;
  }
  
.logo, .menu {
cursor: pointer;
}

.menu {
text-align: center;
padding-top: 20px;
cursor: pointer;
color: #48D1CC;
}

a:link {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

.menu:hover {
background-color: #f06543;
background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
}

  