.our_team {
    background-color: #faf0e6;
    color: #103080;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono derivative Powerline";
    line-height: 1.5;
}
  
.our_team_child {
    width: 100%;
}
  
.boss_name {
    text-align: center;
}