    .services_heading {
        text-align: center;
        color: #757575;
        font-family: "Ubuntu Mono derivative Powerline";
    }
    
    .services {
        /* min-height: 500px; */
    }
    .flip-card-front {
        width: auto;
        padding: 50px 25px 25px 25px;
        color: #ffffff;
        font-family: "Gill Sans";
        vertical-align: middle;
        background: linear-gradient(to bottom, #0068a5 0%, #003367 100%);
    }
    
    .services_list {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: left;
        font-size: 18px;
        display: none;
    }
    
    .flip-card:hover .services_list {
        /* height: auto; */
        display: block;
        font-family: "Gill Sans";
        color: #ffffff;
        background-color: #2980b9;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-front {
        display: none;
    }
